<%- include('cabecera') %>
<h1>Ficha Contacto</h1>

<%= console.log(restaurante)%>

<ul>
  <li><strong>Nombre: </strong><%= contacto.nombre %></li>
  <li><strong>Telefono: </strong><%= contacto.telefono%></li>
  <li><strong>Edad: </strong><%= contacto.edad %></li>
  <li><strong>Restaurante Favorito: </strong><%= restaurante.nombre%></li>
  <li><strong>Mascotas: </strong><%= mascota.nombre%></li>
</ul>

<%- include('pie')%>
